html {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

body {
  font: 100%/1.5 'PT Serif', serif;
}

pre, code {
  padding: .5rem;
  font-size: .9rem;
  background: #fafafa;
  border: 1px solid #efefef;
}
code { padding: .25rem; }

.header {
  margin-bottom: 20px;
}
.header img {
  margin-top: 4px;
  margin-left: -74px;
  vertical-align: top;
  display: inline-block;
  width: 64px;
  margin-right: 10px;
}
.header>.description {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
}
.header>.description:after {
  clear: both;
}
.header>.description>p, .footer>p {
  display: inline-block;
  padding: 10px;
  margin-top: 0;
  border: 1px solid #efefef;
  border-radius: 4px;
}

@media (max-width: 1034px) {
  .header img {
    margin-left: 0;
  }
}

.threads {
  margin-bottom: 40px;
}

.post {
  margin-bottom: 40px;
}

.post-title {
  display: inline-block;
  margin-right: 16px;
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  line-height: 1;
}
.post-title>a {
  color: #000;
}

@media (max-width: 1034px) {
  .post-title {
    font-size: 1.5rem;
  }
}

.post-body {
  font-size: 1rem;
  margin-bottom: 40px;
}

.post-meta-categories {
  margin-top: 8px;
  font-size: .8rem;
  color: #fff;
  margin-bottom: 30px;
}
.post-meta-category {
  margin-right: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: .75rem;
  font-style: italic;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.post-meta {
  font-size: .75rem;
  color: #9E9E9E;
  margin-top: -4px;
  margin-bottom: 4px;
}

.post-comments {}
.post-comment {
  font-size: 1rem;
  margin-bottom: 30px;
}
.post-comment-author {
  font-weight: bold;
  margin-right: 8px;
}
.post-comment-date {
  font-size: .75rem;
  color: #9E9E9E;
}
.post-comment-body {
  background: #fafafa;
  padding: 8px;
  border: 1px solid #efefef;
  border-radius: 0 4px 4px 4px;
  margin-top: 8px;
}
.post-comment-body code {
  background: #fff;
}
.post-comment-body>:first-child {
  margin-top: 0;
}
.post-comment-body>:last-child {
  margin-bottom: 0;
}
