html {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

body {
  line-height: 1.5;
}

pre, code {
  padding: .5rem;
  font-size: .9rem;
  background: #fafafa;
  border: 1px solid #efefef;
}
code { padding: .25rem; }

.header {
  margin-bottom: 20px;
}
.header>.title {
  display: inline-block;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  margin-right: 20px;
  margin-bottom: 20px;
}
.header>.description {
  margin-top: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 1rem;
}
.header>.description>p {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 0;
  border: 1px solid #efefef;
  border-radius: 0 4px 4px 4px;
}

.post {
  margin-bottom: 40px;
}

.post-title {
  display: inline-block;
  margin-right: 16px;
  font-size: 2rem;
  line-height: 1;
}
.post-title>a {
  color: #000;
}

.post-body {
  font-size: 1rem;
  margin-bottom: 40px;
}
.post-body p, .post-body li {
  font-family: Georgia, serif;
}

.post-meta-categories {
  font-size: .8rem;
  color: #9e9e9e;
  margin-bottom: 30px;
}
.post-meta-category {
  vertical-align: top;
  margin-right: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: .75rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.post-meta {
  font-size: .75rem;
  color: #9E9E9E;
  margin-top: -4px;
  margin-bottom: 4px;
}

.post-comments {}
.post-comment {
  font-size: 1rem;
  margin-bottom: 30px;
}
.post-comment-author {
  font-weight: bold;
  margin-right: 8px;
}
.post-comment-date {
  font-size: .75rem;
  color: #9E9E9E;
}
.post-comment-body {
  background: #fafafa;
  padding: 8px 16px;
  border: 1px solid #efefef;
  border-radius: 0 4px 4px 4px;
  margin-top: 8px;
}
.post-comment-body>:first-child {
  margin-top: 0;
}
.post-comment-body>:last-child {
  margin-bottom: 0;
}
